module "ci_role" {
  source = "../ci_aws_oidc"

  aws_account_id             = var.aws_account_id
  github_owner               = var.github_owner
  github_repository          = var.repository
  tf_state_bucket            = var.tf_state_bucket != "" ? var.tf_state_bucket : "${var.repository}-terraform-state-${var.environment}"
  tf_state_dynamodb_table    = var.tf_state_dynamodb_table != "" ? var.tf_state_dynamodb_table : "${var.repository}-terraform-locks-${var.environment}"
{% if config.include_ecr %}
  ecr_repository_arn         = var.ecr_repository_arn
{% endif %}
  role_name                  = var.role_name != "" ? var.role_name : "${var.repository}-github-actions-oidc-role"
  existing_oidc_provider_arn = var.existing_oidc_provider_arn
}

module "github_provider" {
  source = "../github_provider"

  github_token                = var.github_token
  github_owner                = var.github_owner
  repository                  = var.repository
  aws_role_arn                = module.ci_role.role_arn
  create_repo_aws_role_secret = var.create_repo_aws_role_secret
  tf_state_bucket             = var.tf_state_bucket
  tf_state_dynamodb_table     = var.tf_state_dynamodb_table
  environments                = var.environments
}
